# Ignore everything
*

# Except for .ipynb files and py files
!*.ipynb
!*.py
!*.parquet
!*.xls

# Ignore all files in subdirectories, except .ipynb and .py files
!**/
!**/*.ipynb
!**/*.py
!**/*.parquet
!**/*.xls
!**/*.tex
!**/*.bib
!**/*.pdf
!**/*.png
!**/*.md

# Ignore specific directory 'uni2ts' and its contents
uni2ts/

# Optionally, ignore .ipynb_checkpoints directories that Jupyter creates
.ipynb_checkpoints/
